# 幽灵依赖 例子express模块用到connect，开发的时候可以使用不需要安装，称为幽灵依赖。假如后期express不再使用connect模块，项目将莫名缺少
shamefully-hoist=true

# 如果某些工具仅在根目录的node_modules时才有效，可以将其设置为true来提升那些不在根目录的node_modules，就是将你安装的依赖包的依赖包的依赖包的...都放到同一级别（扁平化）。说白了就是不设置为true有些包就有可能会出问题。



# 为什么需要加这个， 是和npm保持一致 ，让这些幽灵依赖出现在node-mo下面